<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niños</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/children.css">

</head>

<body>

    <main class="main-content">

        <div id="carousel" class="carousel slide carousel-custom">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.shutterstock.com/image-photo/cute-stylish-children-on-color-600nw-624406115.jpg"
                        class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://st3.depositphotos.com/11233746/15016/i/450/depositphotos_150161490-stock-photo-group-of-friends-looking-at.jpg"
                        class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/foto-gratis/ninos-sonrientes-abrazados_23-2148984816.jpg"
                        class="d-block img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <section class="row">

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/61OHZr0sgLL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title  descripcion">Conjunto de ropa para niña pequeña con lazo y mangas con
                            volantes, pantalones florales de 3 a 9 años</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71Kkm52KXwL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">Bumeex Conjunto de ropa de verano para niñas pequeñas con top
                            y pantalones cortos de algodón.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$45.90</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71ZJvqFtjeL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">NSSMWTTC Vestidos de dama de honor para niñas de 3 a 10 años,
                            vestido formal para concurso de boda.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81Y49CpPftL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">Calcetines Nike deportivos, de entrenamiento, acolchados, 6
                            pares, para niños, Blanco.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                        </div>

                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/719iZHMJFfL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">Hanes Ropa interior para niñas adolescentes, bragas sin
                            costuras, pantalones cortos e hipster, colores surtidos.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella llena">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81Dvh3U8jrL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">DIPUG - Leotardos de ballet para niñas, con falda,
                            leotardos
                            de baile, manga con vuelo y espalda cruzada.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>

                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71eRpUiGRvL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">NIKE Profesional unisex para niños</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71P6C6aQRfL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">Fewlby Ropa de lluvia para niños y niñas, poncho impermeable
                            con capucha, linda chaqueta de lluvia de dibujos animados, 6-10 años, talla L</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$45.90</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/61XK89e7MgL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">Columbia Chaqueta Switchback II para niña</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71oOIWaIGTL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">KIDSCOOL SPACE Mono de mezclilla para niña pequeña,
                            pantalones cortos de mezclilla rasgados grandes</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/91EiOwJ7LCL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">KIDSCOOL SPACE Jeans para niñas, pantalones de mezclilla
                            bordados con cintura elástica acanalada</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81I3Q07e7BL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body">
                        <h5 class="card-title descripcion">BTween Conjunto de ropa y accesorios para niñas y niños,
                            conjuntos de 5 piezas para mezclar y combinar</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </section>


    </main>


</body>
<script src="./js/children.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-rbsA2VBKQ8ZJ2FJxI5E8sUGO9Zz9yxCJtLfRxZBdOmWmF60v8j7Wec6pRP0aZxF2"
    crossorigin="anonymous"></script>



</html>