<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niños</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/children.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>

    <div class="titulo-principal">
        <h1 id="tituloModa">Mini Moda</h1>
    </div>


    <main class="main-content">

        <section class="galeria-productos">
            <div class="contenedor-imagenes">
                <img src="https://limonada.cl/cdn/shop/files/Banner03_-_2025-06-25T150106.923.jpg?v=1750878454&width=1600"
                    alt="Producto 1">
            </div>
        </section>


        <section class="row">

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/61OHZr0sgLL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">
                            Conjunto de ropa para niña pequeña con lazo y mangas con volantes, pantalones florales de 3
                            a 9 años
                        </h5>
                        <p class="card-text">
                            <small class="text-dark">Entrega el mar, 29 de jul</small>
                        </p>
                        <p class="card-text">
                            <small class="text-secondary">Se envía a $El Salvador</small>
                        </p>
                        <p class="card-text">US$11.99</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>


                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71Kkm52KXwL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Bumeex Conjunto de ropa de verano para niñas pequeñas con top
                            y pantalones cortos de algodón.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$45.90</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71ZJvqFtjeL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">NSSMWTTC Vestidos de dama de honor para niñas de 3 a 10 años,
                            vestido formal para concurso de boda.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81Y49CpPftL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Calcetines Nike deportivos, de entrenamiento, acolchados, 6
                            pares, para niños, Blanco.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                        </div>

                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/61ioPVV0qSS._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Hanes Ropa interior para niñas adolescentes, bragas sin
                            costuras, pantalones cortos e hipster.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella llena">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81DTXlZrxSL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Hanes Calcetines invisibles con escudo de talón y ajuste
                            cómodo para niñas, paquete de 10 pares.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>

                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71eRpUiGRvL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">NIKE Profesional unisex para niños</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>

                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71P6C6aQRfL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Ropa de lluvia, poncho impermeable
                            .</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$25.90</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/61XK89e7MgL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Columbia Chaqueta Switchback II para niña</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">US$11.99</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/71oOIWaIGTL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion"> Mono de mezclilla para niña pequeña.
                        </h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$28.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia ">★</span>
                            <span class="estrella vacia">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/91EiOwJ7LCL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">Pantalones de mezclilla
                            bordados.</h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$78.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-11 mb-2">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81I3Q07e7BL._AC_UL320_.jpg" class="card-img-top"
                        alt="imagen-ropa-niña">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title descripcion">BTween Conjunto de ropa para niñas.
                        </h5>
                        <p class="card-text"><small class="text-dark">Entrega el mar, 29 de jul</small></p>
                        <p class="card-text"><small class="text-secondary">Se envía a $El Salvador</small></p>
                        <p class="card-text">$19.00</p>
                        <div class="estrellas">
                            <span class="estrella llena">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella llena ">★</span>
                            <span class="estrella llena">★</span>
                            <span class="estrella vacia">★</span>
                        </div>
                        <a href="#" class="btn mt-auto"
                            style="background-color: #146eb4; border-color: #146eb4; color: white;">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>

            <div class="custom-carousel">
                <div class="carousel-images">
                    <img src="https://limonada.cl/cdn/shop/files/Banner05_-_2025-07-08T081848.250_grande.jpg?v=1751977184"
                        class="active" alt="Imagen 1">
                    <img src="https://limonada.cl/cdn/shop/files/Banner04_-_2025-07-08T081841.039_grande.jpg?v=1751977184"
                        alt="Imagen 2">
                    <img src="https://limonada.cl/cdn/shop/files/Banner07_-_2025-07-08T081901.245_grande.jpg?v=1751977184"
                        alt="Imagen 3">
                </div>
                <button class="" id="prevBtn">
                    < </button>
                        <button id="nextBtn">></button>
            </div>

        </section>

    </main>

</body>

<script src="./js/children.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-rbsA2VBKQ8ZJ2FJxI5E8sUGO9Zz9yxCJtLfRxZBdOmWmF60v8j7Wec6pRP0aZxF2"
    crossorigin="anonymous"></script>

</html>