
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   <link rel="stylesheet" href="./css/moda.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Moda</title>
</head>
<body>
    <div class="container-moda">
     <header class="">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid background">
                <a class="navbar-brand" href="#">FlashBuy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/index.html">Home</a>
                        <a class="nav-link" href="./moda.html">Moda</a>
                        <a class="nav-link" href="#">ejemplo 3</a>
                        <a class="nav-link" href="#">ejemplo 4</a>
                        <a class="nav-link" href="#">ejemplo 5</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main class="main-container">
            <!--CARRUSEL-->
<section class="carrusel-container">
  <div class="slider">
   
    <div class="slide active">
      
      <img src="./assets/images/img-banner.jpg" alt="imagen principal del banner" />
      <div class="slide-texto">
        <h1>Tu estilo empieza aquí</h1>
        <p>Descubrí lo último en moda.</p>
       <button class="boton-ver-mas">Ver Más</button>

      </div>
    </div>
   
<div class="slide">
 <div class="slider-text-general">Para cada historia, un look perfecto.</div>
  <div class="slide-grid">
    <img src="./assets/images/img1-principal.jpg" 
         data-alt="./assets/images/img1-hover.jpg" 
         alt="Camisa moderna adulta" class="hover-switch" />

    <img src="./assets/images/img2-principal.jpg" 
         data-alt="./assets/images/img2-hover.jpg" 
         alt="outfit masculino" class="hover-switch" />

    <img src="./assets/images/img3-principal.jpg" 
         data-alt="./assets/images/img3-hover.jpg" 
         alt="Chaqueta ligera" class="hover-switch" />
  </div>
</div>


  <!-- Botones -->
  <div class="slider-controls">
    <button class="prev-btn">&#10094;</button>
    <button class="next-btn">&#10095;</button>
  </div>
</section>

              <!--CARDs-->
  <section class="ropa-container" id="ropa">
  <h2 class="titulo-ropa">Descubre las nuevas tendencias</h2>

  <!-- Camisas -->
  <section class="shirts-container">
    <h2>Parte Superior</h2>
    <div class="card-grid">
      <div class="card">
        <img src="./assets/images/shirt1-man.png" alt="Camisa 1" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Camisa Lino Azul Claro</h3>
          <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(125)</span>
          </div>
           <!-- Fecha estimada -->
    <p class="delivery-date">Entrega estimada: <strong>24 - 26 de julio</strong></p>
          <p class="card-text">Elegante y fresca, perfecta para un look relajado de verano con su diseño ligero y transpirable en lino.</p>
          <p class="card-price">$24.99</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt2-woman.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Blusa Verde Escama</h3>
          <p class="card-text">Estilosa y cómoda, ideal para un look casual.</p>
          <p class="card-price">20.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt3-man.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Camisa Lino Verde Claro</h3>
          <p class="card-text">Fresca y versátil, perfecta para un estilo casual y relajado..</p>
          <p class="card-price">$32.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt4-woman.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Top Negro Básico</h3>
          <p class="card-text">Elegante y ajustado, ideal para cualquier ocasión casual.</p>
          <p class="card-price">$19.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>
    
    </div>
  </section>

  <!-- Pantalones -->
 <section class="pants-container">
  <h2>Parte Inferior</h2>
  <div class="card-grid">
    <div class="card">
      <img src="./assets/images/pants1-man.png" alt="Pantalón 1" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Jeans Anchos Azules</h3>
        <p class="card-text">Estilo retro y cómodo, perfectos para un look urbano.</p>
        <p class="card-price">$18.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants2-woman.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Pantalones Anchos Rosa Vibrante</h3>
        <p class="card-text">Estilizados y cómodos, ideales para un look veraniego.</p>
        <p class="card-price">$29.50</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants3-man.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Pantalones Chinos Verde Oliva</h3>
        <p class="card-text">Estilo moderno y cómodo, ideales para el día a día.</p>
        <p class="card-price">$20.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants4-woman.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Jeans Anchos Clásicos</h3>
        <p class="card-text">Cómodos y versátiles, perfectos para un estilo casual.</p>
        <p class="card-price">$25.50</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>
  </div>
</section>
              <!--PROMOCIONES-->

<section class="promo-container">
  <h2>En Oferta!</h2>

  <section class="promo-card">

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/images/shirt-woman-promo.jpg" class="img-fluid rounded-start" alt="Mono Naranja Elegante">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Oferta Exclusiva: Mono Naranja Elegante</h5>
            <p class="card-text">¡Descuento especial! Mono de verano con lazo, ideal para destacar.</p>
            <p class="card-price">
              <span class="old-price">$49.99</span>
              <span class="promo-price">$29.99</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/images/pants-man-promo.jpg" class="img-fluid rounded-start" alt="Conjunto Deportivo Azul Claro">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Conjunto Deportivo Azul Claro</h5>
            <p class="card-text">Cómodo y elegante, perfecto para entrenar o relajarse.</p>
            <p class="card-price">
              <span class="old-price">$39.99</span>
              <span class="promo-price">$24.99</span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>

    </main>

      <footer class="">
        <p>Derechos reservados - Grupo #4</p>
    </footer>
    

    <!-- Carrito de compras -->
 <aside id="cart-menu" class="cart-menu">
        <div class="cart-menu__container">
            <div class="cart-menu__closedBtn">
                <button id="close-cart-btn" class="side-cart--close-btn">x</button>
            </div>

            <div class="cart-menu__table-content">
                <h3>Carrito de compras</h3>
                <table id="table-cart" class="cart-menu__table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody id="table-row" class="table-row">

                    </tbody>
                </table>
            </div>
            <div class="cart-menu__actions">
                <button class="cart--cleanBtn" onclick="clearCart()">Vaciar Carrito</button>
                <button class="cart--buyBtn">Pagar</button>
            </div>
        </div>
    </aside>

<!-- Botón flotante del carrito -->
<button id="shop-card" style="position:fixed;bottom:10px;right:10px;">🛒</button>

<script src="/script/cart.js"></script>
    <script src="./js/moda.js"></script>
</body>

</html>
