
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   <link rel="stylesheet" href="./css/moda.css">
   
    <title>Moda</title>
</head>
<body>
    <header class="header">
        <div class="header__main">
            <div class="header__logo--container">
                <button id="hamburger-btn" class="header__logo--hamburgerButtom">☰</button>
                <div class="header__logo--title">
                    <a href="#">
                        FlashBuy
                    </a>
                </div>
            </div>

            <div class="header__nav">
                <nav class="header__nav--list">
                    <ul class="header__nav--list--items">
                        <li id="profile" class="header__nav--list--item">
                            <a href="#"><img src="../../assets/logos/Profile.svg" alt="profile"></a>
                        </li>
                        <li id="shop-card" class="header__nav--list--item">
                            <a href="#"><img src="../../assets/logos/carrito-white.svg" alt="carrito"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header__aside">
            <nav>
                <ul>
                    <li><a class="nav-link" href="../../index.html">Inicio</a></li>
                    <li><a class="nav-link" href="./moda.html">Moda</a></li>
                    <li><a class="nav-link" href="../Tecnología/tecnología.html">Tecnología</a></li>
                    <li><a class="nav-link" href="../Children/children.html">Niños</a></li>
                    <li><a class="nav-link" href="../zapatos_deportivos/zapatos_deportivos.html">ejemplo 5</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <aside id="side-menu" class="side-menu">
        <button id="close-btn" class="side-menu--close-btn">x</button>
        <ul>
            <li><a class="nav-link" href="../../index.html">Inicio</a></li>
            <li><a class="nav-link" href="./moda.html">Moda</a></li>
            <li><a class="nav-link" href="../Tecnología/tecnología.html">Tecnoloía</a></li>
            <li><a class="nav-link" href="../Children/children.html">Niños</a></li>
            <li><a class="nav-link" href="../zapatos_deportivos/zapatos_deportivos.html">ejemplo 5</a></li>
        </ul>
    </aside>
    <aside id="cart-menu" class="cart-menu">
        <div class="cart-menu__container">
            <div class="cart-menu__closedBtn">
                <button id="close-cart-btn" class="side-cart--close-btn">x</button>
            </div>

            <div class="cart-menu__table-content">
                <h3>Carrito de compras</h3>
                <table id="table-cart" class="cart-menu__table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="table-row" class="table-row">

                    </tbody>
                </table>
            </div>
            <div class="cart-menu__actions">
                <button class="cart--cleanBtn" onclick="clearCart()">Vaciar Carrito</button>
                <button class="cart--buyBtn">Pagar</button>
            </div>
        </div>
    </aside>

   <div class="container-moda">

    <main class="main-container">
            <!--CARRUSEL-->
<section class="carrusel-container">
  <div class="slider">
   
    <div class="slide active">
      
      <img src="./assets/images/img-banner.jpg" alt="imagen principal del banner" />
      <div class="slide-texto">
        <h1>Tu estilo empieza aquí</h1>
        <p>Descubrí lo último en moda.</p>
       <button class="boton-ver-mas">Ver Más</button>

      </div>
    </div>
   
<div class="slide">
 <div class="slider-text-general">Para cada historia, un look perfecto.</div>
  <div class="slide-grid">
    <img src="./assets/images/img1-principal.jpg" 
         data-alt="./assets/images/img1-hover.jpg" 
         alt="Camisa moderna adulta" class="hover-switch" />

    <img src="./assets/images/img2-principal.jpg" 
         data-alt="./assets/images/img2-hover.jpg" 
         alt="outfit masculino" class="hover-switch" />

    <img src="./assets/images/img3-principal.jpg" 
         data-alt="./assets/images/img3-hover.jpg" 
         alt="Chaqueta ligera" class="hover-switch" />
  </div>
</div>


  <!-- Botones -->
  <div class="slider-controls">
    <button class="prev-btn">&#10094;</button>
    <button class="next-btn">&#10095;</button>
  </div>
</section>

              <!--CARDs-->
  <section class="ropa-container" id="ropa">
  <h2 class="titulo-ropa">Descubre las nuevas tendencias</h2>

  <!-- Camisas -->
  <section class="shirts-container">
    <h2 class="h2-section">Parte Superior</h2>
    <div class="card-grid">
      <div class="card">
        <img src="./assets/images/shirt1-man.png" alt="Camisa 1" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Camisa Lino Azul Claro</h3>
          <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(125)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>24 - 26 de julio</strong></p>
          <p class="card-text">Elegante y fresca, perfecta para un look relajado de verano con su diseño ligero y transpirable en lino.</p>
          <p class="card-price">$24.99</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt2-woman.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Blusa Verde Escama</h3>
           <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(140)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>22 - 24 de julio</strong></p>
          <p class="card-text">Estilosa y cómoda, ideal para un look casual.</p>
          <p class="card-price">$20.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt3-man.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Camisa Lino Verde Claro</h3>
           <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(170)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>28 - 30 de julio</strong></p>
          <p class="card-text">Fresca y versátil, perfecta para un estilo casual y relajado..</p>
          <p class="card-price">$32.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

      <div class="card">
        <img src="./assets/images/shirt4-woman.png" alt="Camisa 2" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Top Negro Básico</h3>
           <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(198)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>24 - 26 de julio</strong></p>
          <p class="card-text">Elegante y ajustado, ideal para cualquier ocasión casual.</p>
          <p class="card-price">$19.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>
    
    </div>
  </section>

  <!-- Pantalones -->
 <section class="pants-container">
  <h2 class="h2-section">Parte Inferior</h2>
  <div class="card-grid">
    <div class="card">
      <img src="./assets/images/pants1-man.png" alt="Pantalón 1" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Jeans Anchos Azules</h3>
         <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(203)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>29 - 03 de agosto</strong></p>
        <p class="card-text">Estilo retro y cómodo, perfectos para un look urbano.</p>
        <p class="card-price">$18.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants2-woman.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Pantalones Anchos Rosa Vibrante</h3>
         <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(1,202)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>06 - 12 de agosto</strong></p>
        <p class="card-text">Estilizados y cómodos, ideales para un look veraniego.</p>
        <p class="card-price">$29.50</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants3-man.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Pantalones Chinos Verde Oliva</h3>
         <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(34)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>24 - 26 de julio</strong></p>
        <p class="card-text">Estilo moderno y cómodo, ideales para el día a día.</p>
        <p class="card-price">$20.00</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>

    <div class="card">
      <img src="./assets/images/pants4-woman.png" alt="Pantalón 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Jeans Anchos Clásicos</h3>
         <div class="rating-stars">
            ★★★★☆ <span class="rating-count">(300)</span>
          </div>
    <p class="delivery-date">Entrega estimada: <strong>24 - 26 de julio</strong></p>
        <p class="card-text">Cómodos y versátiles, perfectos para un estilo casual.</p>
        <p class="card-price">$25.50</p>
          <div class="card-actions">
          <input type="number" class="cantidad-input" min="1" value="1">
          <button class="boton-agregar-carrito">Agregar al carrito</button>
        </div>
      </div>
      </div>
  </div>
</section>
              <!--PROMOCIONES-->

<section class="promo-container">
  <h2 class="h2-section">¡Ofertas Especiales!</h2>

  <section class="promo-card">

    <div class="card mb-3 promo-animate">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/images/shirt-woman-promo.jpg" class="img-fluid rounded-start" alt="Mono Naranja Elegante">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title-promo">Oferta Exclusiva: Mono Naranja Elegante</h5>
            <p class="card-text-promo">¡Descuento especial! Mono de verano con lazo, ideal para destacar.</p>
            <p class="card-price-promo">
              <span class="old-price">$49.99</span>
              <span class="promo-price">$29.99</span>  
        <button class="btn-add-to-cart">Agregar al carrito</button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 promo-animate">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/images/pants-man-promo.jpg" class="img-fluid rounded-start" alt="Conjunto Deportivo Azul Claro">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title-promo">Oferta Exclusiva: Conjunto Deportivo Azul Claro</h5>
            <p class="card-text-promo">Cómodo y elegante, perfecto para entrenar o relajarse.</p>
            <p class="card-price-promo">
              <span class="old-price">$39.99</span>
              <span class="promo-price">$24.99</span>
        <button class="btn-add-to-cart">Agregar al carrito</button>

            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>

    </main>

        <footer class="footer">
            <div class="footer__container">
                <div>
                    <div class="footer__container--logo">
                        <h2>FlashBuy</h2>
                    </div>
                    <div class="footer__container--contact">
                        <p>Suscríbete para obtener las mejores ofertas</p>
                        <label class="footer__container--label">
                            <input type="text" placeholder="Email">
                            <button>Suscribirse</button>
                        </label>
                        <p><img class="icon" src="../../assets/logos/phone-flip-svgrepo-com.svg" alt="phone"> 2298-3777</p>
                    </div>
                    <div class="footer__container--social-media">
                        <p>Siguenos en nuestras redes sociales</p>
                        <div class="footer__container--social-media-icon">
                            <a href="https://www.facebook.com/">
                                <img class="social-media-icon" src="../../assets/logos/facebook-round-svgrepo-com.svg" alt="facebook">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img class="social-media-icon" src="../../assets/logos/instagram-round-svgrepo-com.svg" alt="instagram">
                            </a>
                            <a href="https://www.youtube.com/">
                                <img class="social-media-icon" src="../../assets/logos/youtube-168-svgrepo-com.svg" alt="youtube">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__container--info-items">
                    <h4 class="footer__container--title">CORPORATIVO</h4>
                    <ul class="footer__container--list">
                        <li><a class="footer-link" href="#">Quienes Somos</a></li>
                        <li><a class="footer-link" href="#">Visión y Misión</a></li>
                        <li><a class="footer-link" href="#">Historia</a></li>
                        <li><a class="footer-link" href="#">Sucursales</a></li>
                        <li><a class="footer-link" href="#">Servicios</a></li>
                    </ul>
                </div>
                <div class="footer__container--info-items">
                    <h4 class="footer__container--title">PROGRAMAS</h4>
                    <ul class="footer__container--list">
                        <li><a class="footer-link" href="#">Certificados de Regalo</a></li>
                        <li><a class="footer-link" href="#">Garantias</a></li>
                        <li><a class="footer-link" href="#">Plan Pro</a></li>
                        <li><a class="footer-link" href="#">Credito</a></li>
                        <li><a class="footer-link" href="#">Marketplace</a></li>
                    </ul>
                </div>
                <div class="footer__container--info-items">
                    <h4 class="footer__container--title">SERVICIO AL CLIENTE</h4>
                    <ul class="footer__container--list">
                        <li><a class="footer-link" href="#">Politica de Devoluciones</a></li>
                        <li><a class="footer-link" href="#">Cotactenos</a></li>
                        <li><a class="footer-link" href="#">Seguridad del Sitio</a></li>
                        <li><a class="footer-link" href="#">Politica de Privacidad</a></li>
                        <li><a class="footer-link" href="#">Terminos y Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    

    <!-- Carrito de compras -->
 <aside id="cart-menu" class="cart-menu">
        <div class="cart-menu__container">
            <div class="cart-menu__closedBtn">
                <button id="close-cart-btn" class="side-cart--close-btn">x</button>
            </div>

            <div class="cart-menu__table-content">
                <h3>Carrito de compras</h3>
                <table id="table-cart" class="cart-menu__table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody id="table-row" class="table-row">

                    </tbody>
                </table>
            </div>
            <div class="cart-menu__actions">
                <button class="cart--cleanBtn" onclick="clearCart()">Vaciar Carrito</button>
                <button class="cart--buyBtn">Pagar</button>
            </div>
        </div>
    </aside>
    </div>
<script src="/script/cart.js" defer></script>
    <script src="./js/moda.js" defer></script>
    <script src="../../script/asideMenu.js" defer></script>
  
</body>

</html>
