<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnología</title>
    <link rel="stylesheet" href="./css/tecnología.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    
    <!-- HEADER -->
    <header class="header">
        <div class="header__main">
            <div class="header__logo--container">
                <button id="hamburger-btn" class="header__logo--hamburgerButtom">☰</button>
                <div class="header__logo--title">
                    <a href="#">
                        FlashBuy
                    </a>
                </div>
            </div>

            <div class="header__nav">
                <nav class="header__nav--list">
                    <ul class="header__nav--list--items">
                        <li id="profile" class="header__nav--list--item">
                            <a href="#"><img src="../../assets/logos/Profile.svg" alt="profile"></a>
                        </li>
                        <li id="shop-card" class="header__nav--list--item">
                            <a href="#"><img src="../../assets/logos/carrito-white.svg" alt="carrito"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header__aside">
            <nav>
                <ul>
                    <li><a class="nav-link" href="../../index.html">Inicio</a></li>
                    <li><a class="nav-link" href="../../view/Moda/moda.html">Moda</a></li>
                    <li><a class="nav-link" href="../../view/Tecnología/tecnología.html">Tecnología</a></li>
                    <li><a class="nav-link" href="../Children/children.html">Niños</a></li>
                    <li><a class="nav-link" href="#">ejemplo 5</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <aside id="side-menu" class="side-menu">
        <button id="close-btn" class="side-menu--close-btn">x</button>
        <ul>
            <li><a class="nav-link" href="../../index.html">Inicio</a></li>
            <li><a class="nav-link" href="../../view/Moda/moda.html">Moda</a></li>
            <li><a class="nav-link" href="../../view/Tecnología/tecnología.html">ejemplo 3</a></li>
            <li><a class="nav-link" href="../Children/children.html">Niños</a></li>
            <li><a class="nav-link" href="#">ejemplo 5</a></li>
        </ul>
    </aside>

    <aside id="cart-menu" class="cart-menu">
        <div class="cart-menu__container">
            <div class="cart-menu__closedBtn">
                <button id="close-cart-btn" class="side-cart--close-btn">x</button>
            </div>

            <div class="cart-menu__table-content">
                <h3>Carrito de compras</h3>
                <table id="table-cart" class="cart-menu__table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="table-row" class="table-row">

                    </tbody>
                </table>
            </div>
            <div class="cart-menu__actions">
                <button class="cart--cleanBtn" onclick="clearCart()">Vaciar Carrito</button>
                <button class="cart--buyBtn">Pagar</button>
            </div>
        </div>
    </aside>

    <!-- MAIN CONTENT -->

    <main class="main-content">

    <!-- CAROUSEL -->

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/carrusel1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/carrusel2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/carrusel3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev control_prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next control_next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>    

    <!-- PRODUCTOS -->

    <div class="products_title">
        <h2>Productos destacados</h2>
    </div>
    
    <div class="products_container">
        <div class="card" style="width: 18rem;">
            <img src="./assets/images/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ASUS ROG Zephyrus G15</h5>
                <p class="card-text">$1299.00</p>
                <a href="#" class="btn btn-primary button">Agregar al carrito</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/images/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S25 Ultra</h5>
                <p class="card-text">$1379.00</p>
                <a href="#" class="btn btn-primary button">Agregar al carrito</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/images/card3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Apple Watch Ultra 2</h5>
                <p class="card-text">$1119.00</p>
                <a href="#" class="btn btn-primary button">Agregar al carrito</a>
            </div>
        </div>
    </div>
    </main>

    <!-- FOOTER -->

    <footer class="footer">
        <div class="footer__container">
            <div>
                <div class="footer__container--logo">
                    <h2>FlashBuy</h2>
                </div>
                <div class="footer__container--contact">
                    <p>Suscríbete para obtener las mejores ofertas</p>
                    <label class="footer__container--label">
                        <input type="text" placeholder="Email">
                        <button>Suscribirse</button>
                    </label>
                    <p><img class="icon" src="../../assets/logos/phone-flip-svgrepo-com.svg" alt="phone"> 2298-3777</p>
                </div>
                <div class="footer__container--social-media">
                    <p>Siguenos en nuestras redes sociales</p>
                    <div class="footer__container--social-media-icon">
                        <a href="https://www.facebook.com/">
                            <img class="social-media-icon" src="../../assets/logos/facebook-round-svgrepo-com.svg" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img class="social-media-icon" src="../../assets/logos/instagram-round-svgrepo-com.svg" alt="instagram">
                        </a>
                        <a href="https://www.youtube.com/">
                            <img class="social-media-icon" src="../../assets/logos/youtube-168-svgrepo-com.svg" alt="youtube">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__container--info-items">
                <h4 class="footer__container--title">CORPORATIVO</h4>
                <ul class="footer__container--list">
                    <li><a class="footer-link" href="#">Quienes Somos</a></li>
                    <li><a class="footer-link" href="#">Visión y Misión</a></li>
                    <li><a class="footer-link" href="#">Historia</a></li>
                    <li><a class="footer-link" href="#">Sucursales</a></li>
                    <li><a class="footer-link" href="#">Servicios</a></li>
                </ul>
            </div>
            <div class="footer__container--info-items">
                <h4 class="footer__container--title">PROGRAMAS</h4>
                <ul class="footer__container--list">
                    <li><a class="footer-link" href="#">Certificados de Regalo</a></li>
                    <li><a class="footer-link" href="#">Garantias</a></li>
                    <li><a class="footer-link" href="#">Plan Pro</a></li>
                    <li><a class="footer-link" href="#">Credito</a></li>
                    <li><a class="footer-link" href="#">Marketplace</a></li>
                </ul>
            </div>
            <div class="footer__container--info-items">
                <h4 class="footer__container--title">SERVICIO AL CLIENTE</h4>
                <ul class="footer__container--list">
                    <li><a class="footer-link" href="#">Politica de Devoluciones</a></li>
                    <li><a class="footer-link" href="#">Cotactenos</a></li>
                    <li><a class="footer-link" href="#">Seguridad del Sitio</a></li>
                    <li><a class="footer-link" href="#">Politica de Privacidad</a></li>
                    <li><a class="footer-link" href="#">Terminos y Condiciones</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="../../script/asideMenu.js"></script>
<script src="../../script/cart.js"></script>
</html>